[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<5.0,>=4.2"
djangorestframework = "<4.0,>=3.14"
django-cors-headers = "<5.0,>=4.3"
psycopg2-binary = "<3.0,>=2.9"
djangorestframework-simplejwt = "<6.0,>=5.3"
python-decouple = "<4.0,>=3.8"
pillow = "<11.0,>=10.0"
gunicorn = "<22.0,>=21.0"
redis = "<6.0,>=5.0"
django-redis = "<6.0,>=5.4"
celery = "<6.0,>=5.3"
mercadopago = "<3.0,>=2.2"
django-anymail = "<11.0,>=10.0"
boto3 = "<2.0,>=1.28"
django-storages = "<2.0,>=1.14"
django-debug-toolbar = "<5.0,>=4.2"
pytest = "<8.0,>=7.4"
pytest-django = "<5.0,>=4.5"
coverage = "<8.0,>=7.3"
flake8 = "<7.0,>=6.1"
black = "<24.0,>=23.0"
isort = "<6.0,>=5.12"
drf-yasg = "<2.0,>=1.21"

[dev-packages]

[requires]
python_version = "3.14"
